*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/caches/build_file_checksums.ser
jokerLibrary/jokerLibrary.iml
jokerLibrary/build/outputs/logs/manifest-merger-debug-report.txt
jokerLibrary/build/intermediates/symbols/debug/R.txt
jokerLibrary/build/intermediates/res/symbol-table-with-package/debug/package-aware-r.txt
